.sidebar{
    flex: 1;
    height: calc(100vh - 50px); 
    position: sticky;
    top: 50px;
    background-color: rgb(251,251,255);
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarList{
    list-style: none;
    padding-left: 0;
}

.sidebarListItem{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228,228,250);
}

.sidebarIcon{
    margin-right: 10px;
}