.sidebar{
    flex: 1;
    height: calc(100vh); 
    position: sticky;
    top: 50px;
    background-color: #003B56;
}

.sidebarWrapper{
    padding: 20px;
    color: white;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarList{
    list-style: none;
    padding-left: 0;
}

.sidebarListItem{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228,228,250);
    color: black;
}

.sidebarIcon{
    margin-right: 10px;
}

.com_titile{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 24px;
    
}

.com_abb{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 24px;

}